clientId                00000000-0000-0000-0000-000000000000
clientSecret            6MvUPUN/KkiAudvfEku5rf9ioExceMHEkudH9upPbD8=
tenantId                1
ciamAddress             localhost
ciamPort                8443
isMTLS                  false
timeoutInMS             2000
mfa                     rsa
certUserName            common-name-or-user-principal-name
certUserMatch           username-as-is
vrf                     mgmt
