[Unit]
Description=Database container

Wants=database-chassis.service
After=database-chassis.service
Requires=docker.service
After=docker.service
After=rc-local.service
StartLimitIntervalSec=1200
StartLimitBurst=3

[Service]
User=root
ExecStartPre=/usr/bin/database.sh start
ExecStart=/usr/bin/database.sh wait
ExecStop=/usr/bin/database.sh stop
Restart=always
RestartSec=30
Slice=sonic-core.slice

[Install]
WantedBy=multi-user.target
