[Unit]
Description=Reboot cause determination service
Requires=rc-local.service
After=rc-local.service pmon.service
StartLimitIntervalSec=1200
StartLimitBurst=6


[Service]
Type=notify
ExecStart=/usr/local/bin/determine-reboot-cause
Restart=on-failure
RestartSec=10
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
