[Unit]
Description=Eventd container
Requires=database.service
After=database.service
Before=ntp-config.service
StartLimitIntervalSec=1200
StartLimitBurst=20

[Service]
User=admin
ExecStartPre=/usr/bin/eventd.sh start
ExecStart=/usr/bin/eventd.sh wait
ExecStop=/usr/bin/eventd.sh stop
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
