[Unit]
Description=Watchdog service for system services
Requires=database.service
After=database.service
StartLimitIntervalSec=60
StartLimitBurst=3


[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/sysmonitor.py
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
