[Unit]
Description=watchdog control service
After=rc-local.service platform-ready.service

[Service]
Type=forking
Restart=always
ExecStart=/usr/local/bin/watchdog-control.sh start 
ExecStop=/usr/local/bin/watchdog-control.sh stop
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
