[Unit]
Description=ZTP configuration service
Requires=database.service
After=database.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ztp-config
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
