[Unit]
Description=Auto Breakout manager daemon
Requires=database.service updategraph.service 
After=updategraph.service database.service pmon.service
BindsTo=sonic.target
After=sonic.target
StartLimitIntervalSec=1200
StartLimitBurst=20

[Service]
Type=simple
ExecStart=/usr/local/bin/autobreakoutmgrd
Restart=always
RestartSec=30

[Install]
WantedBy=sonic.target
