[Unit]
Description=Host config enforcer daemon
Requires=updategraph.service database.service
After=updategraph.service interfaces-config.service database.service
BindsTo=sonic.target
After=sonic.target
StartLimitIntervalSec=1200
StartLimitBurst=3

[Service]
Type=simple
ExecStart=/usr/local/bin/hostcfgd
Restart=always
RestartSec=30

[Install]
WantedBy=sonic.target
