[Unit]
Description=LACP Helper service
Requires=database.service
After=database.service
BindsTo=sonic.target
After=sonic.target
StartLimitIntervalSec=1200
StartLimitBurst=3

[Service]
Type=oneshot
ExecStart=/usr/local/bin/lacp_helper.py

[Install]
WantedBy=sonic.target
