[Unit]
Description=LLDP container
Requires=database.service
After=database.service
After=swss.service
After=syncd.service
Requires=updategraph.service
After=updategraph.service portinitdone.service
BindsTo=sonic.target
After=sonic.target
Before=ntp-config.service
StartLimitIntervalSec=1200
StartLimitBurst=20

[Service]
User=admin
ExecStartPre=/usr/bin/lldp.sh start
ExecStart=/usr/bin/lldp.sh wait
ExecStop=/usr/bin/lldp.sh stop
Restart=always
RestartSec=30

[Install]
WantedBy=sonic.target
