[Unit]
Description=Platform monitor container
Requires=database.service updategraph.service swss.service
After=database.service updategraph.service swss.service

BindsTo=sonic.target
After=sonic.target
Before=ntp-config.service
# Changing the StartLimit settings as per swss.service while adding a dependency to it
StartLimitIntervalSec=1200
StartLimitBurst=20

[Service]
User=admin
ExecStartPre=/usr/bin/pmon.sh start
ExecStart=/usr/bin/pmon.sh wait
ExecStop=/usr/bin/pmon.sh stop
Restart=always
RestartSec=30
TimeoutStartSec=360

[Install]
WantedBy=sonic.target swss.service
