[Unit]
Description=PortInitDone Status Service
After=swss.service syncd.service
Requires=updategraph.service swss.service
After=updategraph.service
BindsTo=sonic.target
After=sonic.target
StartLimitIntervalSec=1200
StartLimitBurst=20

[Service]
User=admin
ExecStartPre=/usr/local/bin/portinitdone.sh start
ExecStart=/usr/local/bin/portinitdone.sh wait
ExecStop=/usr/local/bin/portinitdone.sh stop
Restart=on-failure
RestartSec=30
RemainAfterExit=yes
TimeoutStartSec=360

[Install]
WantedBy=sonic.target swss.service
