[Unit]
Description=Switch resource management daemon
Requires=updategraph.service
After=updategraph.service
BindsTo=sonic.target
After=sonic.target
StartLimitIntervalSec=1200
StartLimitBurst=3

Before=syncd.service

[Service]
Type=simple
ExecStartPre=/usr/local/bin/resrcmgrd -init
ExecStart=/usr/local/bin/resrcmgrd -daemon
Restart=always
RestartSec=30

[Install]
WantedBy=sonic.target
