[Unit]
Description=Retrieve software information from files and store them into StateDB
Requires=database.service
After=database.service

[Service]
Type=simple
ExecStart=/usr/local/bin/sonic-init-updatedb
Restart=on-failure
RestartSec=10
RemainAfterExit=yes

[Install]
WantedBy=sonic.target
