[Unit]
Description=PTP container
Requires=database.service
Requisite=swss.service
After=database.service portinitdone.service swss.service
Before=ntp-config.service
BindsTo=sonic.target
After=sonic.target
StartLimitIntervalSec=1200
StartLimitBurst=20

[Service]
User=admin
ExecStartPre=/usr/bin/timesync.sh start
ExecStart=/usr/bin/timesync.sh wait
ExecStop=/usr/bin/timesync.sh stop
Restart=always
RestartSec=30

[Install]
WantedBy=sonic.target swss.service
