clientId                00000000-0000-0000-0000-000000000000
clientSecret            1LGnv6/1Aqtke2UGv0CtTvs/BrAUV05RqAKEQVSUJCg=
tenantId                1
ciamAddress             localhost
ciamPort                8443
isMTLS                  false
timeoutInMS             2000
mfa                     rsa
certUserName            common-name-or-user-principal-name
certUserMatch           username-as-is
vrf                     mgmt
