
Global Values

Admin Mode     : disabled
Global Timeout : 600 secs
TCP Timeout    : 86400 secs
UDP Timeout    : 300 secs
Static Entries

Nat Type    IP Protocol    Global IP    Global Port    Local IP    Local Port     Twice-NAT Id
----------  -------------  -----------  -------------  ----------  ------------  ---------------
Pool Entries

Pool Name    Global IP Range    Global Port Range
-----------  -----------------  -------------------
NAT Bindings

Binding Name    Pool Name    Access-List    Nat Type    Twice-NAT Id
--------------  -----------  -------------  ----------  --------------
NAT Zones
NAT admin mode is not enabled, Please enable NAT

Port    Zone
------  ------
