table ip filter {
	chain INPUT {
		type filter hook input priority filter; policy accept;
		iifname "lo" ip saddr 127.0.0.1 counter packets 83358563 bytes 12565103648 accept
		ip saddr 127.0.0.1 ip daddr 127.0.0.1 counter packets 267 bytes 48278 accept
		meta l4proto icmp icmp type timestamp-request counter packets 12 bytes 624 drop
		iifname "Vrf*" meta l4proto tcp tcp dport 22 counter packets 0 bytes 0 reject
	}

	chain FORWARD {
		type filter hook forward priority filter; policy accept;
		pkttype multicast counter packets 0 bytes 0 drop
	}

	chain OUTPUT {
		type filter hook output priority filter; policy accept;
		meta l4proto icmp icmp type timestamp-request counter packets 0 bytes 0 drop
		oifname "vrrp*" meta l4proto igmp counter packets 2 bytes 80 drop
	}
}
table ip nat {
	chain PREROUTING {
		type nat hook prerouting priority dstnat; policy accept;
	}

	chain INPUT {
		type nat hook input priority 100; policy accept;
	}

	chain OUTPUT {
		type nat hook output priority -100; policy accept;
	}

	chain POSTROUTING {
		type nat hook postrouting priority srcnat; policy accept;
		mark 0x53 counter packets 0 bytes 0 jump DNS_SNAT_RULE
	}

	chain DOCKER {
	}

	chain DNS_SNAT_RULE {
	}
}
table ip6 filter {
	chain INPUT {
		type filter hook input priority filter; policy accept;
		iifname "lo" ip6 saddr ::1 counter packets 0 bytes 0 accept
		ip6 saddr ::1 ip6 daddr ::1 counter packets 0 bytes 0 accept
		iifname "Vrf*" meta l4proto tcp tcp dport 22 counter packets 0 bytes 0 reject
	}

	chain FORWARD {
		type filter hook forward priority filter; policy accept;
		pkttype multicast counter packets 0 bytes 0 drop
	}

	chain OUTPUT {
		type filter hook output priority filter; policy accept;
	}
}
table bridge filter {
	chain INPUT {
		type filter hook input priority filter; policy accept;
	}

	chain FORWARD {
		type filter hook forward priority filter; policy accept;
		ether type vlan ip protocol igmp jump IGMP_SNOOPING_FILTER
		iifname "vtep*" ether type vlan vlan type 0x0806  counter packets 0 bytes 0 jump VTEP_ARP_USER_LIST
		iifname "vtep*" ether daddr 33:33:ff:00:00:00/24 ether type vlan vlan type 0x86dd  counter packets 0 bytes 0 jump VTEP_NS_USER_LIST
		ether daddr 33:33:ff:00:00:00/24 ether type vlan vlan type 0x86dd  counter packets 0 bytes 0 jump NS_TAG_USER_LIST
		ether type vlan vlan type 0x0806  counter packets 0 bytes 0 jump ARP_TAG_USER_LIST
		ether daddr 33:33:ff:00:00:00/24 ether type ip6 counter packets 0 bytes 0 jump NS_USER_LIST
		ether type arp counter packets 0 bytes 0 jump ARP_USER_LIST
		ether daddr 01:80:c2:00:00:00 counter packets 0 bytes 0 drop
		ether type arp counter packets 0 bytes 0 drop
		ether type vlan vlan type 0x0806  counter packets 0 bytes 0 drop
		ether daddr 01:00:5e:00:00:05 counter packets 0 bytes 0 drop
		ether daddr 01:00:5e:00:00:06 counter packets 0 bytes 0 drop
		ether daddr 01:00:5e:00:00:12 counter packets 693901 bytes 31919446 drop
		ether daddr 33:33:00:00:00:12 counter packets 0 bytes 0 drop
		ether daddr 33:33:ff:00:00:00/24 ether type ip6 counter packets 0 bytes 0 drop
		ether daddr 33:33:ff:00:00:00/24 ether type vlan vlan type 0x86dd  counter packets 0 bytes 0 drop
		ether daddr 33:33:00:00:00:01 ether type ip6 counter packets 0 bytes 0 drop
		ether daddr 33:33:00:00:00:01 ether type vlan vlan type 0x86dd  counter packets 0 bytes 0 drop
		ether daddr 33:33:00:00:00:02 ether type ip6 counter packets 0 bytes 0 drop
		ether daddr 33:33:00:00:00:02 ether type vlan vlan type 0x86dd  counter packets 0 bytes 0 drop
		ether daddr 33:33:00:00:00:16 ether type ip6 counter packets 0 bytes 0 drop
		ether daddr 33:33:00:00:00:16 ether type vlan vlan type 0x86dd  counter packets 0 bytes 0 drop
		ether type vlan vlan type 0x0806  counter packets 0 bytes 0 drop
		ip6 nexthdr ipv6-icmp counter packets 0 bytes 0 jump BRIDGE_FILTER_FORWARD_IPV6_NA
		ether type vlan ip6 nexthdr ipv6-icmp counter packets 0 bytes 0 jump BRIDGE_FILTER_FORWARD_IPV6_NA
		ether daddr 01:00:0c:cc:cc:cc counter packets 0 bytes 0 drop
		ether daddr 33:33:00:00:00:16 counter packets 0 bytes 0 drop
		ether daddr 01:00:0c:cc:cc:cd jump VTEP_PVST_USER_LIST
		ether daddr 01:00:0c:cc:cc:cd counter packets 4861886 bytes 243094300 drop
	}

	chain OUTPUT {
		type filter hook output priority filter; policy accept;
	}

	chain MCLAG_VTEP_USER_LIST {
		counter packets 0 bytes 0 return
		counter packets 0 bytes 0 accept
	}

	chain MCLAG_CLIENT_USER_LIST {
	}

	chain BRIDGE_FILTER_FORWARD_IPV6_NA {
		ip6 nexthdr ipv6-icmp icmpv6 type nd-neighbor-advert counter packets 0 bytes 0 drop
		counter packets 0 bytes 0 return
	}

	chain ARP_USER_LIST {
		ether type arp counter packets 0 bytes 0 return
		counter packets 0 bytes 0 accept
	}

	chain NS_USER_LIST {
		ether type ip6 counter packets 0 bytes 0 return
		counter packets 0 bytes 0 accept
	}

	chain ARP_TAG_USER_LIST {
		ether type vlan vlan type 0x0806  counter packets 0 bytes 0 return
		counter packets 0 bytes 0 accept
	}

	chain VTEP_ARP_USER_LIST {
		counter packets 0 bytes 0 accept
	}

	chain NS_TAG_USER_LIST {
		ether type vlan vlan type 0x86dd  counter packets 0 bytes 0 return
		counter packets 0 bytes 0 accept
	}

	chain VTEP_NS_USER_LIST {
		ether type vlan vlan type 0x86dd  counter packets 0 bytes 0 return
		counter packets 0 bytes 0 accept
	}

	chain IGMP_SNOOPING_FILTER {
		ether daddr 01:00:5e:00:00:05 counter packets 0 bytes 0 accept
		ether daddr 01:00:5e:00:00:06 counter packets 0 bytes 0 accept
		ether daddr 01:00:5e:00:00:12 counter packets 0 bytes 0 accept
		return
	}

	chain VTEP_PVST_USER_LIST {
		oifname "vtep*" drop
	}
}
table arp filter {
	chain INPUT {
		type filter hook input priority filter; policy accept;
	}
}
table ip mangle {
	chain OUTPUT {
		type route hook output priority mangle; policy accept;
		meta l4proto udp udp dport 53 counter packets 87030 bytes 5919572 meta mark set 0x53 
	}
}
table ip6 nat {
	chain DNS_SNAT_RULE {
	}

	chain POSTROUTING {
		type nat hook postrouting priority srcnat; policy accept;
		mark 0x53 counter packets 0 bytes 0 jump DNS_SNAT_RULE
	}
}
table ip6 mangle {
	chain OUTPUT {
		type route hook output priority mangle; policy accept;
		meta l4proto udp udp dport 53 counter packets 0 bytes 0 meta mark set 0x53 
	}
}
