[Unit]
Description=TPCM container
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/tpcm.sh start
ExecStop=/usr/local/bin/tpcm.sh stop
StandardOutput=syslog
StandardError=syslog
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
